.todo {
  height: 50px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

.todo-label {
  width: 100%;
  font-size: 20px;
}

.todo-label-edit {
  font-size: 20px;
}

.todo-x, .todo-edit {
  background-color: transparent;
  border: 0;
  font-size: 30x;
  font-weight: 700;
  cursor: pointer;
}